.mainitem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.str1-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.str2-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 160px;
}

.item {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 20px 0px 20px;
    border: 1px solid rgb(34, 34, 34, 0.178);
    transition: all 0.3s ease;
    background: rgb(34, 34, 34, 0.178);
}

.item1 {
    width: 250px;
}

.item2 {
    width: 350px;
    margin-top: 20px;
}

.item3 {
    width: 350px;
}

.item4 {
    width: 250px;
}

.item5 {
    width: 350px;
}

.item6 {
    width: 350px;
}

.item7 {
    width: 350px;
}

.item p {
    font-size: 20px;
    padding: 0px 40px 0px 40px;
    color: white;
}

.item h1 {
    padding-top: 30px;
    color: white;
}

.item hr {
    width: 300px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.bt {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.item button {
    width: 150px;
    height: 40px;
    margin: 30px 10px 0px 10px;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.item button:hover {
    background: rgb(220, 220, 220);
}

.item button:active {
    background: rgb(190, 190, 190);
}


/*laptop pages*/

.laptop1 {
    width: 350px;
}

.laptop2 {
    width: 400px;
}

.laptop3 {
    width: 350px;
}

.laptop4 {
    width: 400px;
}


/*monoblock pages*/

.monoblock {
    width: 350px;
}

.ps1 {
    width: 350px;
}

.ps2 {
    width: 400px;
}

.ps3 {
    width: 350px;
}

.ps4 {
    width: 350px;
}

.ps5 {
    width: 350px;
}

.skins {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.skins button {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 3px solid rgb(255, 255, 255);
    margin: 0px 10px 0px 10px;
}

.skins button:hover {
    border: 3px solid chartreuse;
}

.skins button:active {
    border: 3px solid rgb(70, 139, 0);
}

#skinF1 {
    background: url(../image/skinsps/textf2.jpg);
    background-size: 120%;
}

#skinF2 {
    background: url(../image/skinsps/textf1.jpg);
    background-size: 80%;
}

#skincs1 {
    background: url(../image/skinsps/textcs1.jpg);
    background-position: center;
    background-size: 170%;
}

#skincs2 {
    background: url(../image/skinsps/textcs2.jpg);
    background-position: center;
    background-size: 170%;
}

#skincs3 {
    background: url(../image/skinsps/textcs3.png);
    background-position: center;
    background-size: 170%;
}

#skincs4 {
    background: url(../image/skinsps/textcs4.png);
    background-position: center;
    background-size: 170%;
}

#skint1 {
    background: url(../image/skinsps/texttox1.jpg);
    background-size: 80%;
}

#skint2 {
    background: url(../image/skinsps/texttox2.jpg);
    background-size: 80%;
}

#skint3 {
    background: url(../image/skinsps/texttox3.jpg);
    background-size: 80%;
}

.block_1 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

.block_2 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mouseItem {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background: rgb(34, 34, 34, 0.178);
}

.mouseItem img {
    width: 200px;
    margin-top: 30px;
}

.mouseItem h1 {
    font-size: 30px;
    color: white;
}

.mouseItem p {
    font-size: 18px;
    padding: 0px 40px 0px 40px;
    color: white;
}

.prise {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.prise p {
    font-size: 30px;
    padding: 0;
    margin: 0px 50px 0px 0px;
    color: white;
}

.prise button {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50px;
    background: red;
}

.prise i {
    color: white;
}

.prise button:hover,
.prise i:hover {
    background: rgb(206, 0, 0);
    color: rgb(199, 199, 199);
}

.prise button:active,
.prise i:active {
    background: rgb(165, 0, 0);
    color: rgb(126, 126, 126);
}

#infoitem {
    width: 110px;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 18px;
}