@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(17, 17, 17);
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 3;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    z-index: 3;
}

@keyframes animate {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

a {
    text-decoration: none;
    color: transparent;
}

a:hover {
    text-decoration: none;
    color: transparent;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(53, 53, 53, 0.212);
    z-index: 999;
}

.navigation {
    width: 628px;
    display: flex;
    align-items: center;
    margin-left: 130px;
    text-transform: uppercase;
    font-size: 15px;
}

.navigation img {
    width: 40px;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding-left: 14px;
    margin: 0;
}

.log {
    width: 290px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 16px;
}

.log a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.log i {
    color: rgb(100, 100, 100);
    padding-left: 15px;
}

.log a:hover,
.navigation a:hover,
.log i:hover {
    color: rgb(196, 196, 196);
    transition: all 0.3s ease;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.boxLogo {
    width: 100%;
    height: 860px;
    display: flex;
    align-items: center;
}

.textlogo {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 250px;
    margin-bottom: 100px;
    font-size: 25px;
    color: white;
    z-index: 1000;
}

.textlogo h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    color: rgb(255, 255, 255);
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    background: rgb(34, 34, 34, 0.178);
    z-index: 2;
}

#gamePC {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 998;
}

#havePC {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background: rgb(109, 218, 0);
}

#havePC:hover {
    background: rgb(93, 187, 0);
}

.list-check {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    color: white;
}

h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    color: white;
}

.list-check hr {
    width: 400px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.product-item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.box1 {
    width: 410px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    border: 1px solid rgb(34, 34, 34, 0.178);
    transition: all 0.3s ease;
    background-color: rgb(34, 34, 34, 0.178);
}

.box1 p {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.laptop {
    margin-top: 70px;
}

.box1:hover {
    border: 1px solid;
    border-image: linear-gradient(to bottom, red, rgba(255, 0, 0, 0)) 1;
    background-color: rgb(41, 41, 41);
}

.perefer {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.perefer hr {
    width: 200px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.uk-position-relative {
    margin-top: 20px;
}

.uk-slider-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uk-panel {
    width: 95%;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background: rgb(34, 34, 34, 0.178);
}

.uk-panel p {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.monitor {
    width: 210px;
}

.keyboard {
    width: 360px;
}

.mouse {
    width: 200px;
}

.headphone {
    width: 150px;
}

.micro {
    width: 200px;
}

.gamepad {
    width: 200px;
}

.servers {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.servers hr {
    width: 160px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.attendance {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}

.att-s {
    width: 450px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid rgb(34, 34, 34, 0.178);
    background-color: rgb(34, 34, 34, 0.178);
    transition: all 0.9s ease;
}

.att-s p {
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.att-s i {
    color: white;
    font-size: 120px;
    background: transparent;
    transition: all 0.3s ease;
}

.att-s i:hover,
.att-s:hover {
    border-image: linear-gradient(to bottom, red, rgba(255, 0, 0, 0)) 1;
    color: rgb(255, 0, 0);
    font-size: 150px;
}

.about {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about hr {
    width: 90px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.info-us {
    width: 1410px;
    height: 400px;
    display: flex;
    margin-top: 40px;
    background-color: rgba(34, 34, 34, 0.178);
}

.info-us p {
    display: flex;
    align-items: center;
    padding: 160px;
    font-size: 24px;
    color: white;
}

.info-us img {
    width: 400px;
    height: 500px;
    margin-top: -100px;
    margin-left: -20px;
}

.reviews {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reviews hr {
    width: 130px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.rewInfo {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -50px;
    color: white;
}

.personBox {
    width: 480px;
    height: 160px;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 40px;
    background-color: rgb(34, 34, 34, 0.466);
}

.personBox img {
    width: 140px;
    margin-left: 8px;
    border-radius: 200px;
    border: 4px solid rgba(255, 255, 255, 0.425);
}

.personBox img:hover {
    display: block;
    transition: all 0.2s ease-in-out 0s;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    transform: scale(1.05);
}

.comment {
    padding: 20px;
}

.comment p {
    margin: 0px 0px 16px 0px;
}

.comment h3 {
    color: white;
}

.comment i {
    color: rgb(255, 217, 0);
}

.rewSite {
    width: 80%;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    color: white;
    background-color: rgb(34, 34, 34, 0.466);
}

.rewSite p {
    margin: 0px 0px 16px 0px;
}

.numberprocent {
    font-weight: 700;
    font-size: 90px;
    color: white;
}

.adsite {
    color: rgb(185, 185, 185);
}

.adsite a {
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.rewAddSite {
    color: rgb(185, 185, 185);
}

.rewAddSite i {
    color: rgb(255, 217, 0);
}

.rewAddSite button {
    width: 120px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(153, 153, 153, 0.247);
}

.rewAddSite button:hover {
    background-color: rgb(29, 29, 29);
}

.rewAddSite a {
    font-size: 17px;
    color: white;
}

.markNum {
    color: rgb(185, 185, 185);
}

.markNum h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.meanNum {
    color: rgb(185, 185, 185);
}

.meanNum h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.questions {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.questions hr {
    width: 400px;
    border: 2px solid rgb(255, 0, 0);
    margin-top: 0px;
    opacity: 100%;
}

.inputBox {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    background-color: rgb(34, 34, 34, 0.466);
}

.form {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form p {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.form input {
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgb(56, 56, 56);
}

.form textarea {
    width: 400px;
    height: 220px;
    resize: none;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    padding: 10px;
    background-color: rgb(56, 56, 56);
}

#reception {
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid rgba(153, 153, 153, 0.247);
    color: white;
    background: none;
}

#reception:hover {
    background-color: rgb(45, 45, 45);
}

#reception:active {
    background-color: rgb(30, 30, 30);
}

.speech {
    width: 170px;
    height: 170px;
    position: relative;
    left: 90px;
    top: -60px;
}

.woman {
    height: 550px;
    margin-top: 50px;
    margin-right: 50px;
}

footer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(34, 34, 34, 0.178);
}

footer a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.menub {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}

.textUpper {
    text-decoration: none;
    font-size: 32px;
}

.textUpper:hover {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: rgb(185, 185, 185);
}

li a:hover {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.iconContact {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.iconContact i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 40px;
    color: rgb(185, 185, 185);
}

.iconContact i p {
    font-size: 16px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 0px 10px;
}

.iconContact i:hover {
    color: rgb(150, 150, 150);
}

.iconContact hr {
    width: 1px;
    height: 40px;
    border: 2px solid rgb(255, 0, 0);
    margin: 0;
    opacity: 100%;
}