@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Play', sans-serif;
    background-color: rgb(17,17,17);
}
::-webkit-scrollbar{
    width: 0px;
}
header{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(53,53,53);
    z-index: 999;
}
.navigation{
    width: 628px;
    display: flex;
    align-items: center;
    margin-left: 130px;
    text-transform: uppercase;
    font-size: 15px;
}
.navigation img{
    width: 100px;
}
.navigation a{
    text-decoration: none;
    color: white;
    padding-left: 14px;
    margin: 0;
}
.log{
    width: 290px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
}
.log a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
.log i{
    color: rgb(100, 100, 100);
    padding-left: 10px;
}
.log a:hover, .navigation a:hover, .log i:hover{
    color: rgb(196, 196, 196);
    transition: 0.3s ease-out;
}
main{
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.carousel{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.carousel img{
    width: 100%;
    height: 850px;
}
.list-check{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    color: white;
}
.list-check h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: red;
}
.list-check span{
    color: white;
}
.product-item{
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.box1{
    width: 410px;
    height: 550px;
    margin: 25px;
    border: 1px solid rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
}
.box1:hover{
    border:1px solid;
    border-image: linear-gradient(to bottom, red, rgba(255, 0, 0, 0)) 1;
    background-color: rgb(41, 41, 41);
    transition: all 0.4s ease-out;
}
