.item-shop {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.item {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 20px 0px 20px;
    border: 1px solid rgb(34, 34, 34, 0.178);
    transition: all 0.3s ease;
    background: rgb(34, 34, 34, 0.178);
}

.item:hover {
    border-image: linear-gradient(to bottom, red, rgba(255, 0, 0, 0)) 1;
    background: rgba(95, 95, 95, 0.178);
}

.item img {
    width: 400px;
}

.item p {
    text-transform: uppercase;
    font-size: 25px;
    color: white;
}

footer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(34, 34, 34, 0.178);
}

footer a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.menub {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}

.textUpper {
    text-decoration: none;
    font-size: 32px;
}

.textUpper:hover {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: rgb(185, 185, 185);
}

li a:hover {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.iconContact {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.iconContact i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 40px;
    color: rgb(185, 185, 185);
}

.iconContact i p {
    font-size: 16px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 0px 10px;
}

.iconContact i:hover {
    color: rgb(150, 150, 150);
}

.iconContact hr {
    width: 1px;
    height: 40px;
    border: 2px solid rgb(255, 0, 0);
    margin: 0;
    opacity: 100%;
}